@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uu1uhv');
  src:  url('fonts/icomoon.eot?uu1uhv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uu1uhv') format('truetype'),
    url('fonts/icomoon.woff?uu1uhv') format('woff'),
    url('fonts/icomoon.svg?uu1uhv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ball:before {
  content: "\e908";
}
.icon-cup2:before {
  content: "\e909";
}
.icon-cup-1:before {
  content: "\e90a";
}
.icon-football2:before {
  content: "\e90b";
}
.icon-football-12:before {
  content: "\e90c";
}
.icon-football-22:before {
  content: "\e90d";
}
.icon-medal:before {
  content: "\e90e";
}
.icon-signs2:before {
  content: "\e90f";
}
.icon-soccer2:before {
  content: "\e910";
}
.icon-sport:before {
  content: "\e911";
}
.icon-symbol2:before {
  content: "\e912";
}
.icon-symbol-12:before {
  content: "\e913";
}
.icon-three-star-hotel:before {
  content: "\e914";
}
.icon-cup:before {
  content: "\e900";
}
.icon-football:before {
  content: "\e901";
}
.icon-football-1:before {
  content: "\e902";
}
.icon-football-2:before {
  content: "\e903";
}
.icon-signs:before {
  content: "\e904";
}
.icon-soccer:before {
  content: "\e905";
}
.icon-symbol:before {
  content: "\e906";
}
.icon-symbol-1:before {
  content: "\e907";
}

